.git
.gitignore

backend-laravel/vendor
backend-laravel/node_modules
backend-laravel/.env
backend-laravel/storage/logs/*.log
backend-laravel/.phpunit.result.cache
frontend/node_modules
frontend/dist

docker-compose.override.yml
